.container2{
    background-color: red;
    height: 60vh;
    margin-bottom: 50px;
}

.content2{
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin-top: 100px;
    color: white;
    padding: 10px; */
    color: white;
    margin: 30px;
    padding: 30px;
    gap: 20px;
   

}
.img2{
    width: 100px;
    border-radius: 100px;

}

.upperContent{
    display: flex;
}
.lowerContent{
    margin-top: 50px;
}
a{
    color: white;
}